@model Auth.Jwt.Web.ViewModels.Home.SignInViewModel
@{
    ViewData["Title"] = localizer["Title"];
}

<div>
    <h1>Welcome</h1>
    <form id='authSignInForm'
          method='post'>
        <label asp-for='UserName'></label>
        <div>
            <input asp-for='UserName'>
            <span asp-validation-for='UserName'></span>
        </div>
        <label asp-for='Password'></label>
        <div>
            <input asp-for='Password'>
            <span asp-validation-for='Password'></span>
        </div>
        <input type='submit'
               value='@localizer["SubmitLabel"]'>
    </form>
</div>
