@model Auth.Jwt.Web.ViewModels.SignIn.SignInViewModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Title"];
}
<h1>@localizer["SignIn"]</h1>
<form method='post'>
    @Html.ValidationSummary(true)
    <label asp-for='UserName'></label>
    <input asp-for='UserName'
           autofocus />
    <span asp-validation-for='UserName'></span>
    <label asp-for='Password'></label>
    <input asp-for='Password' />
    <span asp-validation-for='Password'></span>
    <input type='submit'
           value='@localizer["Submit"]' />
</form>
<a asp-action='SignUp'>
    @localizer["SignUp"]
</a>
