@model Auth.Jwt.Web.ViewModels.Authenticate.ValidateEmailViewModel
@{
}
<h1>Validate Email</h1>
<form method='post'>
    <input asp-for='UserName'
           type='hidden' />
    <label asp-for='ValidationCode'></label>
    <input asp-for='ValidationCode' />
    <span asp-validation-for='ValidationCode'></span>
    <input type='submit'
           value='submit' />
</form>
