@model Auth.Jwt.Web.ViewModels.Authenticate.ValidateEmailViewModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Title"];
}
<h1>@localizer["Headline"]</h1>
<form method='post'>
    <input asp-for='UserName'
           type='hidden' />
    <label asp-for='ValidationCode'></label>
    <input asp-for='ValidationCode' />
    <span asp-validation-for='ValidationCode'></span>
    <input type='submit'
           value='@localizer["Submit"]' />
</form>
