@model Auth.Jwt.Web.ViewModels.User.UserViewModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer.GetString("Title", Model.UserName);
    ViewData["Headline"] = localizer.GetString("Headline", Model.UserName);
}
<h1>@ViewData["Headline"]</h1>
<div>
    <label asp-for='UserName'></label>
    <div>@Model.UserName</div>
</div>
