@using System.Threading
@using Auth.Jwt.Web.Controllers.Mvc
<!DOCTYPE html>
<html lang='@Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName'>
    <head>
        <meta charset='utf-8' />
        <meta content='width=device-width, initial-scale=1.0'
              name='viewport' />
        <title>@ViewData["Title"] - Auth.Jwt.Web</title>
        <link href='~/css/site.css'
              rel='stylesheet' />
    </head>
    <body auit='@ViewData[BaseController.Auit]'>
        <header>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-action='Logout'
                   asp-controller='Authenticate'
                   id='logout'>
                    Logout
                </a>
            }
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            <div>
                &copy; 2022 - Auth.Jwt.Web -
                <a asp-action='Privacy'
                   asp-area=''
                   asp-controller='Home'>
                    Privacy
                </a>
            </div>
        </footer>
        <script asp-append-version='true'
                defer
                src='~/js/site.js'></script>
        @await RenderSectionAsync("Scripts", false)
    </body>
</html>
