<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <meta content='width=device-width, initial-scale=1.0'
              name='viewport' />
        <title>@ViewData["Title"] - Auth.Jwt.Web</title>
        <link href='~/css/site.css'
              rel='stylesheet' />
    </head>
    <body>
        <header>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            <div>
                &copy; 2022 - Auth.Jwt.Web -
                <a asp-action='Privacy'
                   asp-area=''
                   asp-controller='Home'>
                    Privacy
                </a>
            </div>
        </footer>
        <script asp-append-version='true'
                src='~/js/site.js'
                defer></script>
        @await RenderSectionAsync("Scripts", false)
    </body>
</html>
